
.first-row-paper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.x {
  font-size: 2rem;
  margin: 10px 8px 0;
  cursor: default;
  /*margin: 0 5px 15px 5px; */
  /*align-self: flex-end;*/
}

/*#width, #paperWidth {
  text-align: right;
}*/

.input-form  {
  position: relative;
  margin-top: 1rem;
  flex: 1;
}
.width, .paper-width {
  text-align: right;
}
.height, .pages, .paper-height {
  text-align: left;
}
.tiraj {
  text-align: center
}
.pages {
  margin-left: 30px;
}
.input-form input,.input-form input.initial{
  width:90%;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #9e9e9e;
  border-radius: 0;
  outline: none;
  height: 3rem;
  font-size: 2rem;
  /*margin: 0 0 20px 0;*/
  padding: 0;
 
    }
    .input-form input + label {
      width:100%;
  color: #9e9e9e;
  position: absolute;
  left: 0;
  font-size: 0.8rem;
  top:-0.8rem;
  cursor: text;
  transition: 0.2s ease-out;
    }
  .input-form input.initial + label{
    width:100%;
  color: #9e9e9e;
  position: absolute;
  top: 0.8rem;
  left: 0;
  font-size: 1rem; /* or use 1vw */
  cursor: text;
  transition: 0.2s ease-out;
}
.input-form input + label:after {
  display: block;
  content: "";
  font-size: 0.8rem;
  position: absolute;
  top: 4rem;
  opacity: 0;
  transition: .2s opacity ease-out
}
.input-form input.validate:invalid + label:after {
  content: attr(data-error);
  color: #F44336;
  opacity: 1;
}
.input-form input.validate:valid {
  border-bottom: 1px solid #4CAF50;
  box-shadow: 0 1px 0 0 #4CAF50;
}
.input-form input.validate:invalid{
  border-bottom: 1px solid #F44336 !important;
  box-shadow: 0 1px 0 0 #F44336 !important;
}
.input-form input:focus {
  border-bottom: 1px solid;
}
#width + label {
  text-align: right;
}

#width:focus, #height:focus, #pages:focus {
  border-bottom-color: purple;
  box-shadow: 0 1px 0 0 purple;
}
.input-form input:focus + label {
  font-size: 0.8rem;
  top:-0.8rem;
}
#width:focus + label,
#height:focus + label,
#pages:focus + label {
  color:purple;
}



input.paper:focus {
  border-bottom-color: indigo;
  box-shadow: 0 1px 0 0 indigo;
}

input.paper:focus + label {
  color: indigo;
}

input.tiraj:focus {
  border-bottom-color: navy;
  box-shadow: 0 1px 0 0 navy;
}

input.tiraj:focus + label {
  color: navy;
}

#tiraj {
  width: 160px;
  position: relative;
  margin: 0;
}
.tiraj {
  display: flex;
  justify-content: center;
  align-items: baseline;
}
.tiraj .input-form {
  flex:none;
}
button.tiraj {
  font-size: 1.2rem;
  outline: none;
  background: none;
  border: none;
  cursor: ns-resize;
}
span.tiraj {
  color: navy;
  font-size: 1.6rem;
  margin: 0 5px;
}
/*.tiraj:before {
  content: 'min 0';
  position: absolute;
  top: 6px;
  left: 220px;
  font-size: 1.5rem;
}*/
/*.tiraj:after {
  content: attr(data-max);
  position: absolute;
  top: 9px;
  left: 470px;
  font-size: 1.5rem;*/
  /*font-weight: 600;*/
  /*font-family: 'trebuchet ms';*/
/*}*/
/****************************************/
/*TOGGLE BUTTONS*/

.toggle-buttons {
    text-align: center;
    margin-right: 10px;
  }
  .toggle {
    margin: 5px;
    display: inline-block; /*should be used if toggles in the same container div*/
    box-shadow: inset 0 0 15.31px 2.19px rgba(0,0,0,0.25), /*inner all-around*/
                inset 0 0.88px 0.44px 0.44px rgba(255,255,255,0.9), /*top and sides*/
                inset 0 -0.88px 0.44px 0 rgba(0,0,0,0.25); /*  bottom*/
  border-radius: 5px;
  background: #ccd0d4; /*color of back square*/
  position: relative;
  height: 60px; /*size of back square*/
  width: 60px;
  }


  .toggle:before {
    box-shadow: 0 0 7.66px 3.83px #fff; /*first=size * 0.125,second=size * 0.125/ 2*/
    border-radius: 51.76px; /* size * 0.845*/
    background: #fff;
    position: absolute;
    margin-left: -22px; /*(size * 0.845 - size * 0.125) * -0.5 */
    margin-top: -22px; /*(size * 0.845 - size * 0.125) * -0.5 */
    opacity: 0.2;
    content: '';
    height: 44.1px; /*(size * 0.845 - size * 0.125) */
    width: 44.1px; /*(size * 0.845 - size * 0.125) */
    left: 50%;
    top: 50%;
  }
 
  .button-toggle {
    -webkit-filter: blur(0.44px);
    -moz-filter: blur(0.44px);
    filter: blur(0.44px);
    transition: all 400ms cubic-bezier(0.230, 1.000, 0.320, 1.000);
    box-shadow: 0 6.56px 10.94px -1.75px rgba(0,0,0,0.5), /*shadow of bottom*/
                inset 0 -1.31px 1.75px -0.44px rgba(0,0,0,0.2), /*bottom*/
                0 -4.38px 6.56px -0.44px rgba(255,255,255,0.6), /*shadow, glow of top*/
                inset 0 1.31px 1.75px -0.44px rgba(255,255,255,0.2), /*top*/
                inset 0 0 2.19px 0.44px rgba(255,255,255,0.8), /*all around inner*/
                inset 0 8.75px 13.13px 0 rgba(255,255,255,0.2); /*inner shadow from top*/
    border-radius: 42.14px; /*size * 0.688*/
    position: absolute;
    background: #ccd0d4;
    margin-left: -21.07px; /*size * 0.688 * -0.5*/
    margin-top: -21.07px; /*size * 0.688 * -0.5*/
    display: block;
    height: 42.14px; /*size * 0.688*/
    width: 42.14px; /*size * 0.688*/
    left: 50%;
    top: 50%;
  }

  .label-toggle {
  transition: color 4000ms ease-out, opacity 400ms ease-out;
  text-shadow: 0.44px 0.44px 1.31px #ccd0d4, /*first shadow*/
              0 0 0 rgba(0,0,0,0.8), /*inner shadow*/
              0.44px 0.44px 1.75px #fff; /*second shadow*/
  line-height: 60.81px; /*size - 1*/
  text-align: center;
  position: absolute;
  font-weight: 600;
  font-size: 20px;
  display: block;
  opacity: 0.9;
  height: 100%;
  width: 100%;
  color: rgba(0,0,0,0.4);
  top: 0;
  }  

  .input-toggle {
    opacity: 0 !important;
    position: absolute;
    cursor: pointer;
    z-index: 2 ;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
  }

.input-toggle:active ~ .button-toggle {
    box-shadow: 0 6.56px 10.72px -1.75px rgba(0,0,0,0.4), 
                inset 0 -3.5px 13.13px 0.44px rgba(255,255,255,0.9), 
                0 -4.38px 6.56px -0.44px rgba(255,255,255,0.6), 
                inset 0 3.5px 10.72px 0 rgba(0,0,0,0.4), 
                inset 0 0 4.38px 0.44px rgba(255,255,255,0.6)
  }
  .input-toggle:active ~ .label-toggle {
    font-size: 19px;
        color: rgba(0,0,0,0.45);
  }

  .input-toggle:checked ~ .button-toggle {
    box-shadow: 0 6.56px 10.72px -1.75px rgba(0,0,0,0.4), 
                inset 0 -3.5px 10.72px -0.44px rgba(255,255,255,0.9), 
                0 -4.38px 6.56px -0.44px rgba(255,255,255,0.6), 
                inset 0 3.5px 8.75px 0 rgba(0,0,0,0.2), 
                inset 0 0 2.19px 0.44px rgba(255,255,255,0.6)
  }
  .input-toggle:checked ~ .label-toggle {
    font-size: 19px;
        color: rgba(0,0,0,0.4);
  }
  .toggle {
    transition: 0.2s ease-out background
  }
.toggle-disabled {
     margin: 5px;
    display: inline-block; /*should be used if toggles in the same container div*/
  border-radius: 5px;
  background: #696969; /*color of back square*/
  position: relative;
  height: 60px; /*size of back square*/
  width: 60px;
  transition: 0.4s ease-out background 0.4s;
  pointer-events: none;
  }

.toggle > * {
  opacity: 1;
  }
.toggle-disabled > *, .toggle-disabled:before {
    opacity: 0;
  }


/****************************************/

/*******************************************/
/*GRID OF PAPER SIZES*/

.paperSizeButtons {
  margin: 0 10px;
  justify-items: center;
  display: grid;
  grid-gap:10px;
  grid-template-columns: auto;
  grid-template-rows: auto;
  grid-template-areas: 
    "chap chap"
    "asizes bsizes"
}
.paper-chap {
  grid-area: chap;
}
.paper-sizes {
  background: none;
  border: none;
  outline: none;
  font-size: 1rem;
  margin: 10px 10px;
  width:50px;
  height: 60px;
  position: relative;
  cursor: pointer;
}

.sfn {
  grid-area: asizes;
  border: 3px dashed orange;
}
.sfn:before {
  content: '64';
  position: absolute;
  font-size: 2rem;
  font-weight: 800;
  color: rgba(0,0,0,0.65);
  top: 12px;
  left: -25px;
  display: inline-block;
  transform: rotate(-90deg);
}
.sfn:after {
  content: '90';
  position: absolute;
  font-size: 2rem;
  font-weight: 800;
  color: rgba(0,0,0,0.65);
  top: -25px;
  left: 8px;
}
.sh {
  grid-area: bsizes;
  border: 3px dashed rgba(134, 163, 40,0.7);
}
.sh:before {
  content: '70';
  position: absolute;
  font-size: 2rem;
  font-weight: 800;
  color: rgba(0,0,0,0.65);
  top: 12px;
  left: -25px;
  display: inline-block;
  -webkit-transform: rotate(30deg);
  -moz-transform: rotate(30deg);
  transform: rotate(-90deg);
}
.sh:after {
  content: '100';
  position: absolute;
  font-size: 2rem;
  font-weight: 800;
  color: rgba(0,0,0,0.65);
  top: -25px;
  left: 0;
}
/*******************************************/

@media (max-width: 760px) {
  :root {
    font-size: 50%
  }
}  
